A for loop acts as an iterator in Python, it goes through items that are in a sequence

for item in object:
    statements to do stuff

In [8]:
l=[7,6,4,65,34]

In [9]:
for item in l:
    print item

7
6
4
65
34

In [10]:
# Check if nums are odd or even
for item in l:
        if(item % 2==0):
            print '{i} Is Even'.format(i=item)
        else:
             print '{i} Is Odd'.format(i=item)

7 Is Odd
6 Is Even
4 Is Even
65 Is Odd
34 Is Even

In [14]:
s='Hello Mu'

In [15]:
for letter in s:
    print letter

H
e
l
l
o

M
u

In [16]:
for letter in s:
    print letter.lower()

h
e
l
l
o

m
u

In [1]:
l = [(2,4),(6,4),(10,12)]
print l[1][1]

4

In [2]:
# Printing the tuples inside a list
for item in l:
    print item

(2, 4)
(6, 4)
(10, 12)

In [3]:
# item1 will accept first values of the tuples
for item1,item2 in l:
    print item1+item2

6
10
22

In [1]:
# Working with dictionary
d = {'k1':1,'k2':2,'k3':3}

In [2]:
for item in d:
    print item

k3
k2
k1

In [6]:
# Will print values of the Dictonary d.
print(d)
print(d['k3'])
print
for item in d.values():
    print item
  # Put a space between the next for and see the change in O/P , Its cause Python focuses on indentation to understand nesting.!!  
for items in d.keys():
        print items

{'k3': 3, 'k2': 2, 'k1': 1}
3

3
2
1
k3
k2
k1

In [33]:
a='5'
print a*5
a=5
print a*5

55555
25

In [36]:
x=5
y=4
print 'x =',x, 'and  y=',y

x = 5 and  y= 4

In [40]:
# We can have an else statement without an if Statement
a=1
while (a!=4):
    print a
    a+=1
else:
        print 'Loop is Broken'

1
2
3
Loop is Broken